

.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer{
    background-color: #74678b;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background-color: #605377;
    color: floralwhite;
}

address{
    font-size: 80%;
    margin: 0px;
    color: black;
}

body{
    padding: 50px 0px 0px 0xp;
    z-index: 0;
}

.navbar-dark{
    background-color: #512DA8;
}
span{
    margin: 2px;
}
i{
    margin: 5px;
}
.btn{
    margin-right: 4px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover, a:focus {
    color: black;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}